:root {
  --primari-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --primari-background-color: #ffffff;
  --second-text-color: #ffffff;
  --second-background-color: #2f303a;
}

body {
  background-color: var(--primari-background-color);
  color: var(--primari-text-color);
  font-family: "roboto", sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
}

/* Убирает все точки в ul */
.link {
  list-style: none;
  text-decoration: none;
}
/* header */
.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: var(--primari-text-color);
}
.accent {
  color: #2196f3;
}

.site-nav :hover,
.site-nav :focus {
  color: var(--accent-color);
}
.nav-link,
.contakt-link {
  color: var(--primari-text-color);
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.nav-link.current {
  color: var(--accent-color);
}
.contakt-link {
  color: var(--title-text-color);
}
.contakts-list :hover,
.contakts-list :focus {
  color: var(--accent-color);
}
/* Стили для index.html */

/* Hero */
.hero {
  background-color: var(--second-background-color);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--second-text-color);
}
/* Button */
.button {
  cursor: pointer;
  background-color: var(--accent-color);
  font-family: inherit;
  color: var(--second-text-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}
/* SECTION */
/* Секция особенности */
.title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.feature-title {
  line-height: 1.14;
  text-transform: uppercase;
}

.feature-description {
  line-height: 1.71;
  color: var(--title-text-color);
}
/* .section-feature p {
  width: 270px;
} */
/* Чем мы занимаемся  */

/* Команда */
.team-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.team-position {
  color: var(--title-text-color);
  font-size: 16px;
  line-height: 1.19;
}
footer {
  color: var(--primari-background-color);
  background-color: var(--second-background-color);
}
.footer .logo {
  color: var(--second-text-color);
}
.footer .contakt-link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
}
.adress-link {
  color: var(--second-text-color);
  font-style: normal;
}
.adress-list :hover {
  color: var(--accent-color);
}
.adress-list :focus {
  color: var(--accent-color);
}

/* Стили для portfolio.html */

.bt-list {
  cursor: pointer;
  font-family: inherit;
  background-color: var(--primari-background-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  color: var(--primari-text-color);
}
.bt-list :hover,
.bt-list :focus {
  background-color: var(--accent-color);
  color: var(--primari-background-color);
}

.portfolio-subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.88;
  color: var(--title-text-color);
}
